<nav id="menu">
	<ul class="links">
		<li><a href="usa.html">🇺🇸 U.S.A.</a></li>
		<li><a href="japan.html">🇯🇵 Japan</a></li>
		<li><a href="landing.html">🇵🇪 Peru</a></li>
		<li><a href="landing.html">🇪🇨 Ecuador</a></li>
		<li><a href="landing.html">🇵🇹 Portugal</a></li>
		<li><a href="landing.html">🇮🇹 Italy</a></li>
		<li><a href="landing.html">🇩🇪 Germany</a></li>
		<li><a href="landing.html">🇨🇭 Switzerland</a></li>
		<li><a href="landing.html">🇧🇪 Belgium</a></li>
		<li><a href="landing.html">🇫🇷 France</a></li>
	</ul>
	<ul class="actions stacked">
		<li><a href="index.html" class="button primary fit">Get Starved</a></li>
	</ul>
</nav>
