<nav id="menu">
	<ul class="links">
		<li><a href="{{ page.root }}countries/usa.html">🇺🇸 U.S.A.</a></li>
		<li><a href="{{ page.root }}countries/japan.html">🇯🇵 Japan</a></li>
		<li><a href="{{ page.root }}countries/portugal.html">🇵🇹 Portugal</a></li>
		<!-- Not written up yet: uncomment once the country page exists.
		<li><a href="{{ page.root }}countries/peru.html">🇵🇪 Peru</a></li>
		<li><a href="{{ page.root }}countries/ecuador.html">🇪🇨 Ecuador</a></li>
		<li><a href="{{ page.root }}countries/italy.html">🇮🇹 Italy</a></li>
		<li><a href="{{ page.root }}countries/germany.html">🇩🇪 Germany</a></li>
		<li><a href="{{ page.root }}countries/switzerland.html">🇨🇭 Switzerland</a></li>
		<li><a href="{{ page.root }}countries/belgium.html">🇧🇪 Belgium</a></li>
		<li><a href="{{ page.root }}countries/france.html">🇫🇷 France</a></li>
		-->
	</ul>
	<ul class="actions stacked">
		<li><a href="{{ page.root }}index.html" class="button primary fit">Get Starved!</a></li>
	</ul>
</nav>
